<div class="footer" *ngIf="!navigateService.isAdminPage()">
  <div class="click-to-top" *ngIf="isShowBtn" (click)="scrollToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </div>
  <div class="footer_container">
    <div class="footer_list">
      <h5 class="footer_header">Thông tin liên hệ</h5>
      <div class="detail">
        <p class="detail_item">
          <mat-icon> phone</mat-icon>
          <span style="margin-top: 4px"> Hotline: 0982382503 </span>
        </p>
        <p class="detail_item">
          <mat-icon> mail_outline</mat-icon> support@reputationgear.com
        </p>
        <p class="detail_item">
          <mat-icon> mail_outline</mat-icon> sales@reputationgear.com
        </p>
      </div>
    </div>
    <div class="footer_list">
      <h5 class="footer_header">Hệ thống cửa hàng</h5>
      <div class="detail">
        <p>
          <mat-icon> location_on</mat-icon>132 Đường 3/2, P. Xuân Khánh, Q. Ninh
          Kiều, TP. Cần Thơ
        </p>
      </div>
      <div class="detail">
        <p>
          <mat-icon> location_on</mat-icon>39 Đường Trường Trinh, P. Đông Hưng
          Thuận, Q.12, TP. HCM
        </p>
      </div>
    </div>
    <div class="footer_list">
      <h5 class="footer_header">Thời gian làm việc</h5>
      <div class="detail">
        <p class="detail_item">
          <mat-icon>work</mat-icon>Cần Thơ : Thứ 2 - Thứ 7 09h:00 - 20h:00
        </p>
        <p class="detail_item">
          <mat-icon>work</mat-icon>Cần Thơ : Chủ nhật 09h:00 - 19h:00
        </p>
        <p class="detail_item">
          <mat-icon>work</mat-icon>HCM : Thứ 2 - Thứ 7 09h:00 - 20h:00
        </p>
        <p class="detail_item">
          <mat-icon>work</mat-icon>HCM : Chủ nhật 09h:00 - 19h:00
        </p>
      </div>
    </div>
    <div class="footer_list">
      <h5 class="footer_header">Tra cứu và chính sách bảo hành</h5>
      <div class="detail">
        <p class="detail_item">
          <mat-icon>turned_in</mat-icon>
          <a routerLink="/policy_insurance"> Chính sách bảo hành </a>
        </p>
        <p class="detail_item">
          <mat-icon>search</mat-icon>
          <a routerLink="/insurance"> Tra cứu bảo hành </a>
        </p>
      </div>
    </div>
  </div>
</div>
