header {
  transition: all 0.5s ease;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
}
.header {
  padding-top: 176px;
}

.header_container {
}
.header_top {
  background: #cd1818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.7%;
}

.header_top_search {
  position: relative;
}
input {
  outline: none;
  height: 40px;
  width: 350px;
  padding: 20px 35px 20px 20px;
  border-radius: 30px;
  border: transparent;
  background-color: #dfe8f8;
}
.icon-search {
  position: absolute;
  top: 50%;
  right: 0px;
  color: #cd1818;
  cursor: pointer;
  font-size: 26px !important;
  width: unset !important;
  height: unset !important;
  font-weight: 700;
  transform: translate(-50%, -50%);
}
img {
  width: auto;
  height: 90px;
  object-fit: cover;
  object-position: center;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 76px;
  background-color: #dfe8f8;
  color: #000;
  padding: 0 8px;
}
.product_list {
  cursor: pointer;
  position: relative;
}
.product_list li {
  display: flex;
  margin: auto 0;
  list-style-type: none;
  justify-content: space-evenly;
}
.product_item {
  position: absolute;
  background-color: #dfe8f8;
  top: 36px;
  left: -20px;
  min-width: 400px;
}

.product_list:hover > .product_item .submenu {
  text-shadow: unset;
  padding: 10px 10px;
  text-shadow: none;
  min-width: 180px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.product_list:nth-child(3) > .product_item .submenu {
  min-width: 200px;
}

.product_list:nth-child(1) .product_item,
.product_list:nth-child(2) .product_item,
.product_list:nth-child(4) .product_item{
  min-width: 360px;
}

.product_list:last-child .product_item {
  min-width: unset; 
}
.product_list:last-child:hover .product_item .submenu{
  padding: 10px 15px;
  text-shadow: none;
  min-width: 220px;
  display: inline-flex;
  justify-content: flex-start;
}

.product_item::after {
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  background-color: transparent;
  height: 16px;
  width: 100%;
  cursor: auto;
}
.product_item .submenu {
  list-style-type: none;
  display: none;
  min-width: 160px;
  padding: 4px 10px 4px 0;
}
.product_item .submenu:last-child {
  padding: 4px 10px 0px 0;
}
.product_list:hover {
  text-shadow: 0 0 0.65px #cd1818, 0 0 1px #cd1818;
  color: #cd1818;
}
.submenu a {
  text-decoration: none;
  color: #000;
}

.submenu a:hover {
  text-shadow: 0 0 0.65px #cd1818, 0 0 1px #cd1818;
  color: #cd1818;
  transition: 0.5s ease;
}

.header_top-action {
  position: relative;
  display: flex;
  color: #fff;
  width: auto;
  height: 100px;
  align-items: center;
}
.icon-header {
  display: flex;
  align-items: center;
  font-size: 36px;
  height: 50px;
  width: 50px;
}
.personal-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
}
.personal-user:hover {
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.1);
}
.name-user {
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 12px;
  font-size: 18px;
}

.cart-user {
  margin: 0 8px;
  cursor: pointer;
}
.number-cart-user {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  top: 18px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.logIn:hover {
  background-color: #cd1818;
  border: 1px solid #ccc;
  color: #fff;
}
.logIn {
  margin: 0 16px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

/* Admin */
nav {
  transition: all 0.5s ease;
  background: #cd1818;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 20vw;
  height: 100vh;
  overflow: hidden;
}
.header-admin {
}
.header_container-admin {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header_top-admin {
  padding: 20px 0;
}
.logo-admin img {
  height: 150px;
}
.icon-admin {
  margin-right: 10px;
}
.header_admin-link {
  width: 83%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header_admin-item {
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
}
.header_admin-item:hover {
  background-color: rgb(0 0 0 / 15%);
}
.active_admin-item {
  background-color: rgb(0 0 0 / 15%);
}

hr {
  border-top: 2px solid #000;
}

.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]){
  background-color: #cd1818;
}