@import "~swiper/swiper.min.css";
@import "~swiper/modules/navigation/navigation.min.css";
@import "~swiper/modules/pagination/pagination.min.css";
.product_detail {
  padding: 0 120px;
  margin: 40px auto;
  overflow-x: hidden;
}
.product_detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail_header-name,
.product_relevant-header {
  font-weight: 700;
}
.detail_header-stock, .detail_header-out-of-stock {
  padding: 6px 8px;
  background-color: #44b81b;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}

.detail_header-out-of-stock {
  background-color: #c92828;
}
.detail_slider {
  width: 50%;
}
.detail_content {
  display: flex;
  justify-content: space-between;
}
.detail_content-right {
  margin-top: 20px;
}
.detail_content-price {
  width: 100%;
  height: 110px;

  background-color: rgb(204, 204, 204, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.prices-header {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}
.prices {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #e50000;
}

.promo_detail-content {
  display: flex;
  flex-direction: column;
}

.detail_content-promo {
  margin-bottom: 20px;
  border-radius: 10px;
  color: #000;
}
.detail_content-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buy-now,
.add-cart {
  width: 49%;
  height: 44px;
}

.product_detail-info {
  margin: 80px 0;
  display: flex;
}

.product_detail-table {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.product_detail-container {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin-right: 17.5%;
}
.header_detail-table,
.header_detail-decs {
  margin: 20px 0 24px 0;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}

.table_item-detail {
  display: flex;
  align-items: center;
}
.table_item-detail:nth-child(even) {
  background-color: #ccc;
}
.table_item-detail:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* .item_specify {
  width: 35%;
  padding: 20px 35px;
  text-align: center;
} */
.item_value {
  width: 100%;
  padding: 20px 15px;
  text-align: center;
}

.product_detail-decs {
  border-radius: 10px;
  width: 50%;
  line-height: 24px;
}
.promo_header {
  background-color: #ccc;
  padding: 16px 10px;
}
.detail_content-promo {
  border: 2px solid #cd1818;
  overflow: hidden;
}
.promo_detail-item {
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 8px 10px;
}

.icon-promo {
  font-size: 18px;
  padding-top: 2px;
  margin-right: 4px;
  color: #cd1818;
}

/* product Relevant  */
.product_relevant-header {
  padding-bottom: 20px;
}

.product_list {
  display: flex;
}
.product_item {
  margin-bottom: 20px;
}
.product_item:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s;
}
.card-img-top {
  cursor: pointer;
  max-height: 160px;
}
.card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
::ng-deep.mat-menu-panel {
  width: 240px !important;
}
.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  background-color: #cd1818;
  color: #fff;
}
.card > .list-group {
  border-top: none;
  border-bottom: none;
}
.item-price {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: normal;
  color: #f0f0f0;
  background-color: #e40000;
  border-radius: 5px;
  padding: 5px 10px;
}
.list-group-item:last-child {
  min-height: 70px;
}
.list-group-item:not(:last-child),
.list-group-item:not(:first-child) {
  text-overflow: ellipsis;
}
.list-group-item {
  border: none;
}
.list-group-item img {
  margin-right: 5px;
}

/* Swiper */

.gallery {
  width: 100%;
}
.gallery-slider {
  width: 80%;
  height: auto;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.gallery-slider .swiper-slide {
  width: 410px;
  height: 400px;
}
.gallery-slider .swiper-slide img {
  width: 100%;
  height: 100%;
}

.gallery-thumbs {
  width: 80%;
  overflow: hidden;
}
.gallery-thumbs .swiper-slide {
  width: 80px;
  height: 60px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.swiper-slide-active {
  opacity: 1;
  border-color: #cd1818 !important;
}

.gallery-thumbs .swiper-slide img {
  width: 100%;
  height: 100%;
}

