<div class="homepage_container">
  <div class="slider">
    <app-carousel></app-carousel>
  </div>
  <div class="introduce">
    <div class="product_left">
      <img
        src="../../assets/image/intro_product/product_left.jpg"
        alt="product"
      />
    </div>
    <div class="product_right">
      <div class="product_right-item">
        <img
          src="../../assets/image/intro_product/product_right-1.jpg"
          alt="product"
        />
      </div>
      <div class="product_right-item pb10 pt10">
        <img
          src="../../assets/image/intro_product/product_right-2.jpg"
          alt="product"
        />
      </div>
      <div class="product_right-item">
        <img
          src="../../assets/image/intro_product/product_right-3.jpg"
          alt="product"
        />
      </div>
    </div>
  </div>
  <div class="branch">
    <div class="branch_item">
      <img
        src="../../assets/image/branch/acer.jpg"
        alt="branch_item"
        routerLink="../product_category"
      />
    </div>
    <div class="branch_item">
      <img src="../../assets/image/branch/asus.jpg" alt="branch_item" />
    </div>
    <div class="branch_item">
      <img src="../../assets/image/branch/lenovo.jpg" alt="branch_item" />
    </div>
    <div class="branch_item">
      <img src="../../assets/image/branch/msi.jpg" alt="branch_item" />
    </div>
  </div>
</div>
