<div class="product_category">
  <div class="product_header">
    <div class="header_branch">{{brandName}}</div>
    <div class="product_search" mat-icon-button [matMenuTriggerFor]="menu">
      <div class="search-type">
        <span> Sắp xếp: {{ searchTypeName }} </span>
        <mat-icon class="menu-search-icon">keyboard_arrow_down</mat-icon>
        <mat-menu #menu="matMenu" class="matMenu" id="matMenu">
          <button
            mat-menu-item
            *ngFor="let search of searchType"
            (click)="selectSearch(search.name, search.value)"
          >
            <span>Sắp xếp : {{ search.name }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="product_list row">
    <div class="product_item col-md-3" *ngFor="let product of products">
      <div class="card" style="width: 18reml">
        <img
          src="{{ product.images[0]['imageUrl'] || product.images[1]['imageUrl'] || product.images[2]['imageUrl'] || product.images[3]['imageUrl'] }}"
          class="card-img-top"
          alt="..."
          [routerLink]="['/product_detail', product.id]"
        />
        <div class="card-body">
          <h5 class="card-title" [ngbTooltip]="product.name">
            {{ (product.name.length >55 ? product.name.slice(0,55) + '...' : product.name)  }}
          </h5>
          <p class="card-text">
            <span class="item-price">{{ product.cost | number:'1.0'}} VNĐ</span>
          </p>
        </div>
        <ul class="list-group list-group-flush" *ngIf="product.productTypes.fullName == 'Laptop'"> 
          <li class="list-group-item">
            <img
              width="22px"
              height="22px"
              src="../../../assets/image/product_item/cpu.png"
            />
            <span [ngbTooltip]="product.specifications
            .split(',')[0]
            .concat(product.specifications.split(',')[1])
            .split('(')[0]
            .split('CPU')[1]">
              {{
                product.specifications
                  .split(",")[0]
                  .concat(product.specifications.split(",")[1])
                  .split("(")[0]
                  .split("CPU")[1].length > 25 ? 
                  product.specifications
                  .split(",")[0]
                  .concat(product.specifications.split(",")[1])
                  .split("(")[0]
                  .split("CPU")[1].slice(0,25) + '...' : product.specifications
                  .split(",")[0]
                  .concat(product.specifications.split(",")[1])
                  .split("(")[0]
                  .split("CPU")[1]
              }}
            </span>
          </li>
          <li class="list-group-item">
            <img
              width="22px"
              height="22px"
              src="../../../assets/image/product_item/ram.png"
            />
            <span
            [ngbTooltip]="product.specifications
            .split(',')[2]
            .split(' ', 5)
            .join(',')
            .replaceAll(',', ' ')"
            >
              {{
                product.specifications
                  .split(",")[2]
                  .split(" ", 5)
                  .join(",")
                  .replaceAll(",", " ").length > 25 ? product.specifications
                  .split(",")[2]
                  .split(" ", 5)
                  .join(",")
                  .replaceAll(",", " ").slice (0,25) + '...' : product.specifications
                  .split(",")[2]
                  .split(" ", 5)
                  .join(",")
                  .replaceAll(",", " ")
              }}</span
            >
          </li>
          <li class="list-group-item">
            <img
              width="22px"
              height="22px"
              src="../../../assets/image/product_item/gpu.png"
            />
            <span [ngbTooltip] = "product.specifications.split(',')[4]"> 
              {{ product.specifications.split(",")[4].length > 25 ? product.specifications.split(",")[4].slice(0,25) + '...' : product.specifications.split(",")[4] }}
            </span>
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link">
            <button
              type="button"
              class="btn btn-outline-danger"
              [routerLink]="['/product_detail', product.id]"
            >
              Xem chi tiết
            </button></a
          >
          <a class="card-link">
            <button type="button" class="btn btn-danger" (click)="addCart(product.id)">Thêm vào giỏ</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <app-pagination [collectionSize] = "collectionSize" [page]="pageNumber" [pageSize]="pageSize" (pageChange) ="loadPage($event)"></app-pagination>
  </div>
</div>
